.editor-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.editor-fullscreen {
  position: fixed;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  z-index: 1001;
}

.editor-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  cursor: pointer;
}

.editor-overlay .panel {
  pointer-events: auto;
}
